body {
    font-family: Arial, sans-serif;
    margin: 0 0 10px;
}

h1 {
    text-align: center;
    color: #333;
}

.log-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.log-level {
    margin-top: 20px;
}

.refresh-button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.refresh-button:hover {
    background-color: #0056b3;
}

/* Color coding for log levels */
.info {
    /*background-color: #eeeeee;*/
    color: #333333;
}

.warning {
    background-color: #fcf8e3;
    color: #8a6d3b;
    font-weight: bold;
}

.error {
    background-color: #f2dede;
    color: #a94442;
    font-weight: bold;
}

.debug {
    background-color: #dfd8f0;
    color: #513c76;
    font-weight: bold;
}

.trace {
    background-color: #d9edf7;
    color: #31708f;
}

/* Header */

.header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007BFF;
    padding: 10px 20px;
}

.header-bar button {
    background-color: white;
    color: #007BFF;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.header-bar button:hover {
    background-color: #e0e0e0;
}